// --------------Variables------------------------------
// Modify Bootstrap variables here and create your own.
//
// Variable list: http://getbootstrap.com/customize/
@import 'https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister';
@import 'https://fonts.googleapis.com/css?family=Noto+Sans';
@import 'https://fonts.googleapis.com/css?family=Raleway';

$font-family-sans-serif-2:  'Noto Sans', Helvetica, sans-serif;
$font-family-sans-serif:  'Raleway', Helvetica, sans-serif;
$font-family-logo:'Love Ya Like A Sister', cursive;
// $brand-primary: #ff6000;
// $body-bg: #747474;
// $text-color: #d7d7d7;

// $panel-bg: rgba(16,16,16,0.8);
// $panel-default-border: #000;
// $panel-default-heading-bg: rgba(64,64,64,0.8);
// $panel-default-text: #fff;
