.container-sign-in{
  margin: 0 auto;
  background-color:rgba(204,204,204,0.8);
  width:550px;
  padding:12px;
  font-size: 1.3em;
  font-weight: bold;
}

.container-sign-in #submit-button{
  float: right;
}
