#welcome-search-bar{
margin-left: 30vw;
}
#submit_button{
  height: 40px;
}
a:hover {
  text-decoration: none;
}

#term{
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    border: grey 1px solid;
}
#search{
    height: 40px;
    text-align: center;
    border-radius: 5px;
    margin: 5px;
    border: grey 1px solid;
}
.search-container{
  height: 40px;
}
.select{
  height: 100%;
  border-radius: 5px;
  border: grey 1px solid;
  margin: 5px;
}
