nav {
  background-color: rgba(232,232,232,0.5);
  font-size: 1.5em;
  font-family: $font-family-logo;
  height: 10vh;
  padding: 0 2vw;
}
.dropdown-toggle {
  height: 34px;
}

.container-sign-in{
  margin: 0 auto;
  background-color:rgba(204,204,204,0.8);
  width:550px;
  padding:12px;
  font-size: 1.3em;
  font-weight: bold;
}
.container-sign-in #submit-button{
  float: right;
}

#background-img-body {
  background:
  url('https://dl.dropboxusercontent.com/u/19638963/background_img.jpeg');
  background-size: cover;
}
a {
  color: #851226;
}
a:hover {
  text-decoration: none;
}
div,
p {
  font-family: $font-family-sans-serif;
}
#logo {
  font-size: 2.5em;
  float: left;
  margin-top: 0;
  color: rgb(255, 173, 51);
}
#account-btns {
  float: right;
  margin-top: 2vh;
  font-family: helvetica;
}
#rest_name_header {
  font-family: $font-family-logo;
  font-size: 48px;
  color: #851226;
  text-align: center;
}
// restaurant show page
.img_index {
  border: 2px solid grey;
}
#rest_show {
  background-color: rgba(232,232,232,0.5);
  .rest_info_div {
    width: 60vw;
    text-align: center;
    .rest_image {
      padding-top: 5px;
      height: 180px;
      width: auto;
    }
  }
  #rest_likes {
    width: 20vw;
    padding-bottom: 5vw;
  }
  #rest_maps {
    width: 15vw;
    text-align: center;
  }
}
#-locu-widget-widget-instance {
  max-width: 1170px;
  margin: 0 auto;
}
td.locu-widget-reset {
  text-align: center;
}
#rest_index_table {
  border-collapse: separate;
  border-spacing: 20px 10px;
  width: 70vw;
  margin: 0 40px;
}
.rest_index {
  width: 20vw;
  float: left;
}
td {
  min-width: 15vw;
  text-align: center;
  color: #851226;
}
// index
#identity,
#user {
  margin: 0 auto;
  width: 80vw;
}

.notice{
  color:white;
  font-size: 1.3em;
}
