

nav{
  background-color: rgba(232,232,222,0.5);
  font-size: 1.5em;
  font-family: $font-family-logo;
  height: 10vh;
  padding: 0 2vw;
}
body{
    background-color: #feb8bd;
}
a{
    color: #851226;
}
div,p{
font-family: $font-family-sans-serif;
}

#logo{
  font-size: 2.5em;
  float: left;
  margin-top: 0;
}

#account-btns{
  float: right;
  margin-top: 2vh;
  font-family: helvetica;
}
#rest_name_header{
    font-family: $font-family-logo;
    font-size: 48px;
    text-align: center;
}

// restaurant show page
.img_index{
  border: 2px solid grey;
}

#rest_show{
    width: 980px;
    display: flex;

    .rest_info_div{
      margin: 0 auto;
        width: 60vw;
        text-align: center;
        margin-right: 15px;

        .rest_image{
          margin: 0 auto;
            height: 150;
            width: 150;
            text-align: center;
        }
    }

    #rest_likes{
      width: 15vw;
    }

     #rest_map {
       width: 15vw;
          text-align: center;
    }
}



#menu-container{
  display: flex;
  margin: 0 auto;
  text-align: center;
  width: 980px;
  #rest_menu{
      margin: 0 auto;
      text-align: center;
  }
}

table {
    border-collapse: separate;
    border-spacing: 20px 0px;
}
.rest_index{
  width: 25vw;
}
td{
  min-width: 20vw;
}

// index
#user, #identity {
  margin: 0 auto;
  width:80vw;
}
