.img_index {
  border: 2px solid grey;
}

#rest_index_table {
  border-collapse: separate;
  border-spacing: 20px 10px;
  width: 70vw;
  margin: 0 40px;
}

.rest_index {
  width: 20vw;
  float: left;
}
